<!DOCTYPE root[<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
]>
<root id="-1">
  <articlesOverview id="1069" key="adcbcc9a-662f-4c1b-baf4-4d832fe9ccb5" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-08T11:14:11" updateDate="2017-02-08T11:14:11" nodeName="Articles" urlName="articles" path="-1,1069" isDoc="" nodeType="1058" creatorName="Christian" writerName="Christian" writerID="0" template="1057" nodeTypeAlias="articlesOverview">
    <metaKeywords><![CDATA[articles, news, tec, stuff]]></metaKeywords>
    <metaDescription><![CDATA[Det her er meta desc]]></metaDescription>
    <umbracoNaviHide>0</umbracoNaviHide>
    <articlesTitle><![CDATA[Article Archive]]></articlesTitle>
    <articlesBodyText><![CDATA[<p>List of all our articles.</p>]]></articlesBodyText>
  </articlesOverview>
  <projectsOverview id="1070" key="d42279ff-4fbe-48d5-89a2-f840c691b1fd" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-02-08T11:15:31" updateDate="2017-02-08T11:15:31" nodeName="Projects" urlName="projects" path="-1,1070" isDoc="" nodeType="1064" creatorName="Christian" writerName="Christian" writerID="0" template="1063" nodeTypeAlias="projectsOverview">
    <metaKeywords><![CDATA[Keyword]]></metaKeywords>
    <metaDescription><![CDATA[Meta]]></metaDescription>
    <umbracoNaviHide>0</umbracoNaviHide>
    <projectsBodyText><![CDATA[<p>List of projects</p>]]></projectsBodyText>
    <projectsTitle><![CDATA[Projects]]></projectsTitle>
  </projectsOverview>
</root>