<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT forbiddenAccess ANY>
<!ATTLIST forbiddenAccess id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1072" key="dd5603f5-de09-44e4-b9d2-38ea5084d3c9" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-08T11:25:34" updateDate="2017-03-22T14:03:22" nodeName="Home" urlName="home" path="-1,1072" isDoc="" nodeType="1051" creatorName="Christian" writerName="Christian" writerID="0" template="1050" nodeTypeAlias="homePage">
    <metaKeywords><![CDATA[Meta key]]></metaKeywords>
    <metaDescription><![CDATA[Meta desc]]></metaDescription>
    <umbracoNaviHide>0</umbracoNaviHide>
    <logo><![CDATA[1071]]></logo>
    <siteTitle><![CDATA[Welcome]]></siteTitle>
    <mainContent><![CDATA[<p><span>We at AWDC, are proud being referred to as specialists. We are amongst the best at digital business development. We are a flat organization without excessive and unneeded costly staff functions. We focus on strengthening our areas of expertise in ways that increases customer value and enhances our projects. We are known to deliver a very high quality and to get things done.</span></p>
<p><span>We prefer to provide the ultimate service to a small amount of customers, instead of providing a "hit and run" based service to a large amount of customers. We try to do this by means of a solid infrastructure, using well educated consultants, and following best practices,.</span></p>]]></mainContent>
    <articlesOverview id="1073" key="abfa6fa2-f546-401c-9a3a-f06b1f4b9970" parentID="1072" level="2" creatorID="0" sortOrder="0" createDate="2017-02-08T11:29:35" updateDate="2017-02-08T11:29:35" nodeName="Articles" urlName="articles" path="-1,1072,1073" isDoc="" nodeType="1058" creatorName="Christian" writerName="Christian" writerID="0" template="1057" nodeTypeAlias="articlesOverview">
      <metaKeywords><![CDATA[meta]]></metaKeywords>
      <metaDescription><![CDATA[meta]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>List of all articles</p>]]></articlesBodyText>
      <articleItem id="1075" key="e727cff8-3e17-46a0-8c6b-a1d4d11f2731" parentID="1073" level="3" creatorID="0" sortOrder="0" createDate="2017-02-08T11:43:32" updateDate="2017-02-08T11:43:32" nodeName="Umbraco v. 7 Live" urlName="umbraco-v-7-live" path="-1,1072,1073,1075" isDoc="" nodeType="1061" creatorName="Christian" writerName="Christian" writerID="0" template="1060" nodeTypeAlias="articleItem">
        <metaKeywords><![CDATA[meta]]></metaKeywords>
        <metaDescription><![CDATA[meta]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Umbraco v. 7 Live ]]></articleTitle>
        <articleContent><![CDATA[<p>uNews is a quick way to tackle news, simple blogs and events.  This package includes a Google Map implementation to use with your events or as a standalone.</p>
<p>Works with both WebForms and MVC.  An MVC helper is included for templates.  Please see tabs below for MVC template sample downloads.</p>]]></articleContent>
      </articleItem>
      <articleItem id="1076" key="38da3c1f-c46f-4543-9f53-701e20238595" parentID="1073" level="3" creatorID="0" sortOrder="1" createDate="2017-02-08T11:44:16" updateDate="2017-02-08T11:44:16" nodeName="Health Check for Client Dependency Framework" urlName="health-check-for-client-dependency-framework" path="-1,1072,1073,1076" isDoc="" nodeType="1061" creatorName="Christian" writerName="Christian" writerID="0" template="1060" nodeTypeAlias="articleItem">
        <metaKeywords><![CDATA[meta]]></metaKeywords>
        <metaDescription><![CDATA[meta]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Health Check for Client Dependency Framework]]></articleTitle>
        <articleContent><![CDATA[<p><span>Health Check Add on to check the state of the Client Dependency Framework cache.  Adds a Client Dependency Check to the health check dashboar..</span></p>]]></articleContent>
      </articleItem>
      <articleItem id="1077" key="50b8ef41-2897-46c0-8cc8-d8783ae93241" parentID="1073" level="3" creatorID="0" sortOrder="2" createDate="2017-02-08T11:44:42" updateDate="2017-02-08T11:44:42" nodeName="Url Preview" urlName="url-preview" path="-1,1072,1073,1077" isDoc="" nodeType="1061" creatorName="Christian" writerName="Christian" writerID="0" template="1060" nodeTypeAlias="articleItem">
        <metaKeywords><![CDATA[meta]]></metaKeywords>
        <metaDescription><![CDATA[meta]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Url Preview]]></articleTitle>
        <articleContent><![CDATA[<p><span>A property editor which shows the URLs.Could be used to show the URLs on the first tab.NuGet install:Install-Package Our.Umbraco.UrlPreviewSource c.</span></p>]]></articleContent>
      </articleItem>
      <articleItem id="1078" key="5d96eea4-c030-40ca-b7cb-f7b01fd87492" parentID="1073" level="3" creatorID="0" sortOrder="3" createDate="2017-02-08T11:45:08" updateDate="2017-02-08T11:45:08" nodeName="Textarea+" urlName="textareaplus" path="-1,1072,1073,1078" isDoc="" nodeType="1061" creatorName="Christian" writerName="Christian" writerID="0" template="1060" nodeTypeAlias="articleItem">
        <metaKeywords><![CDATA[meta]]></metaKeywords>
        <metaDescription><![CDATA[meta]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Textarea+]]></articleTitle>
        <articleContent><![CDATA[<p><span>Update 1.22 : Added auto-grow setting, for textarea to expand as user adds new lines of content. Huge thanks and shout outs to Nicholas-Westby!...</span></p>]]></articleContent>
      </articleItem>
    </articlesOverview>
    <projectsOverview id="1074" key="b8476b0a-2d80-4dc2-8865-022005b13f39" parentID="1072" level="2" creatorID="0" sortOrder="1" createDate="2017-02-08T11:41:07" updateDate="2017-02-08T11:41:07" nodeName="Projects" urlName="projects" path="-1,1072,1074" isDoc="" nodeType="1064" creatorName="Christian" writerName="Christian" writerID="0" template="1063" nodeTypeAlias="projectsOverview">
      <metaKeywords><![CDATA[Meta]]></metaKeywords>
      <metaDescription><![CDATA[Meta]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsBodyText><![CDATA[<p>List of all projects</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[Projects]]></projectsTitle>
      <projectItem id="1079" key="8c9cb08a-15af-494f-a02e-a6af5a91c09d" parentID="1074" level="3" creatorID="0" sortOrder="0" createDate="2017-02-08T11:45:37" updateDate="2017-02-15T11:23:36" nodeName="Grid CTA Button" urlName="grid-cta-button" path="-1,1072,1074,1079" isDoc="" nodeType="1068" creatorName="Christian" writerName="Christian" writerID="0" template="1067" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[meta]]></metaKeywords>
        <metaDescription><![CDATA[meta]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>10</projectStatus>
        <projectTitle><![CDATA[Grid CTA Button]]></projectTitle>
        <projectDescription><![CDATA[<p><span>Grid Editor for Umbraco 7.4+ that enables the creation of CTA buttons. Features v0.1 has rather limited functionality but better to get it out th...</span></p>]]></projectDescription>
      </projectItem>
      <projectItem id="1080" key="be22e109-d3ff-46d8-9d8e-b5a5cc0322fc" parentID="1074" level="3" creatorID="0" sortOrder="1" createDate="2017-02-08T11:46:01" updateDate="2017-02-15T11:38:16" nodeName="OP10 New Content At Top Handler" urlName="op10-new-content-at-top-handler" path="-1,1072,1074,1080" isDoc="" nodeType="1068" creatorName="Christian" writerName="Christian" writerID="0" template="1067" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[meta]]></metaKeywords>
        <metaDescription><![CDATA[meta]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>10</projectStatus>
        <projectTitle><![CDATA[OP10 New Content At Top Handler]]></projectTitle>
        <projectDescription><![CDATA[<p><span>OP10 New Content At Top Handler allows you to add new content and media to the top of the tree on creation InstallationDownload the Umbraco Packag...</span></p>]]></projectDescription>
      </projectItem>
      <projectItem id="1081" key="cdadbde5-f628-4c56-8700-47b1017f3504" parentID="1074" level="3" creatorID="0" sortOrder="2" createDate="2017-02-08T11:46:27" updateDate="2017-02-15T11:38:22" nodeName="ExamineLookupValues" urlName="examinelookupvalues" path="-1,1072,1074,1081" isDoc="" nodeType="1068" creatorName="Christian" writerName="Christian" writerID="0" template="1067" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[meta]]></metaKeywords>
        <metaDescription><![CDATA[meta]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>10</projectStatus>
        <projectTitle><![CDATA[ExamineLookupValues]]></projectTitle>
        <projectDescription><![CDATA[<p><span>Includes names of nodes selected via Multi-Node Treepickers (MNTP) into Examine indexes instead of the node IDs to facilitate Examine searches. By...</span></p>]]></projectDescription>
      </projectItem>
      <projectItem id="1085" key="7be4e8e8-ac64-47c2-906e-7be832904ec7" parentID="1074" level="3" creatorID="0" sortOrder="3" createDate="2017-02-15T11:39:01" updateDate="2017-02-15T11:39:01" nodeName="Completed test project 1" urlName="completed-test-project-1" path="-1,1072,1074,1085" isDoc="" nodeType="1068" creatorName="Christian" writerName="Christian" writerID="0" template="1067" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[meta]]></metaKeywords>
        <metaDescription><![CDATA[meta]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>10</projectStatus>
        <projectTitle><![CDATA[Completed test project 1]]></projectTitle>
        <projectDescription><![CDATA[<p>Completed test project 1</p>
<p>Completed test project 1</p>
<p>Completed test project 1</p>
<p>Completed test project 1</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1086" key="0c253f52-1272-4d2e-b8a4-dca686be8a91" parentID="1074" level="3" creatorID="0" sortOrder="4" createDate="2017-02-15T11:39:34" updateDate="2017-02-15T11:57:33" nodeName="Completed test project 2" urlName="completed-test-project-2" path="-1,1072,1074,1086" isDoc="" nodeType="1068" creatorName="Christian" writerName="Christian" writerID="0" template="1067" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[meta]]></metaKeywords>
        <metaDescription><![CDATA[meta]]></metaDescription>
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectStatus>10</projectStatus>
        <projectTitle><![CDATA[Completed test project 2]]></projectTitle>
        <projectDescription><![CDATA[<p><span>Completed test project 2 Completed test project 2 Completed test project 2</span></p>
<p> </p>
<p><span>Completed test project 2</span></p>
<p><span>Completed test project 2</span></p>
<p><span>Completed test project 2</span></p>
<p> </p>]]></projectDescription>
      </projectItem>
      <projectItem id="1087" key="656d0e1d-dfa2-4fbb-9ec3-6da85124449b" parentID="1074" level="3" creatorID="0" sortOrder="5" createDate="2017-02-15T11:40:01" updateDate="2017-02-15T11:56:58" nodeName="Completed test project 3" urlName="completed-test-project-3" path="-1,1072,1074,1087" isDoc="" nodeType="1068" creatorName="Christian" writerName="Christian" writerID="0" template="1067" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[meta]]></metaKeywords>
        <metaDescription><![CDATA[meta]]></metaDescription>
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectStatus>10</projectStatus>
        <projectTitle><![CDATA[Completed test project 3]]></projectTitle>
        <projectDescription><![CDATA[<p><span>Completed test project 3</span></p>
<p><span>Completed test project 3</span></p>
<p><span>Completed test project 3</span></p>
<p> </p>
<p><span>Completed test project 3</span></p>
<p><span>Completed test project 3</span></p>
<p><span>Completed test project 3</span></p>
<p><span>Completed test project 3</span></p>
<p><span>Completed test project 3</span></p>
<p><span>Completed test project 3</span></p>]]></projectDescription>
      </projectItem>
    </projectsOverview>
    <sitemap id="1091" key="e5b57781-9548-45e5-bb81-9e61dc44465b" parentID="1072" level="2" creatorID="0" sortOrder="2" createDate="2017-02-15T12:10:20" updateDate="2017-02-15T12:28:33" nodeName="Sitemap" urlName="sitemap" path="-1,1072,1091" isDoc="" nodeType="1089" creatorName="Christian" writerName="Christian" writerID="0" template="1088" nodeTypeAlias="sitemap">
      <metaKeywords><![CDATA[Sitemap meta]]></metaKeywords>
      <metaDescription><![CDATA[Sitemap meta]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
    </sitemap>
    <contactPage id="1094" key="0e3626e6-de5d-4c01-8a35-ec2ea73438b7" parentID="1072" level="2" creatorID="0" sortOrder="3" createDate="2017-02-22T09:23:43" updateDate="2017-02-22T09:24:01" nodeName="Contact Us" urlName="contact-us" path="-1,1072,1094" isDoc="" nodeType="1093" creatorName="Christian" writerName="Christian" writerID="0" template="1092" nodeTypeAlias="contactPage">
      <metaKeywords><![CDATA[contact us]]></metaKeywords>
      <metaDescription><![CDATA[contact us]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <contactUs><![CDATA[Contact Us]]></contactUs>
    </contactPage>
    <login id="1113" key="c08c7af5-8c04-4507-a6e2-c3cb4b0ba3ba" parentID="1072" level="2" creatorID="0" sortOrder="4" createDate="2017-03-22T10:18:53" updateDate="2017-03-22T10:18:53" nodeName="Login" urlName="login" path="-1,1072,1113" isDoc="" nodeType="1112" creatorName="Christian" writerName="Christian" writerID="0" template="1111" nodeTypeAlias="login">
      <metaKeywords><![CDATA[login]]></metaKeywords>
      <metaDescription><![CDATA[login]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <forbiddenAccess id="1117" key="96e3c7a3-6a17-4d0d-8aa5-665ebddd23d4" parentID="1072" level="2" creatorID="0" sortOrder="5" createDate="2017-03-22T10:36:08" updateDate="2017-03-22T10:36:08" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1072,1117" isDoc="" nodeType="1116" creatorName="Christian" writerName="Christian" writerID="0" template="1115" nodeTypeAlias="forbiddenAccess">
      <metaKeywords><![CDATA[Forbidden]]></metaKeywords>
      <metaDescription><![CDATA[Forbidden]]></metaDescription>
      <umbracoNaviHide>1</umbracoNaviHide>
      <content><![CDATA[Forbidden Access]]></content>
    </forbiddenAccess>
    <members id="1124" key="a00bb8be-c254-43ea-943a-1782efaa74f8" parentID="1072" level="2" creatorID="0" sortOrder="6" createDate="2017-03-22T11:15:09" updateDate="2017-03-22T11:16:50" nodeName="Members" urlName="members" path="-1,1072,1124" isDoc="" nodeType="1119" creatorName="Christian" writerName="Christian" writerID="0" template="1122" nodeTypeAlias="members">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
    <aboutUs id="1128" key="f449e6b5-8bd3-48c9-ac72-e0c448e8e74c" parentID="1072" level="2" creatorID="0" sortOrder="7" createDate="2017-03-22T12:01:36" updateDate="2017-03-22T12:09:13" nodeName="About" urlName="about" path="-1,1072,1128" isDoc="" nodeType="1127" creatorName="Christian" writerName="Christian" writerID="0" template="1126" nodeTypeAlias="aboutUs">
      <metaKeywords><![CDATA[about us]]></metaKeywords>
      <metaDescription><![CDATA[about us]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <aboutGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "About us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": true
                }
              ]
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "3285301c-65d2-e8ac-c85c-0002b32a3de9"
        },
        {
          "name": "Image",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1129,
                    "image": "/media/1003/about-us-banner.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "Image",
          "hasConfig": false,
          "id": "75ced11e-7e02-8157-e2d2-9303d66a407f"
        },
        {
          "name": "content",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><strong>Vision:</strong></p>\n<p>Lorem ipsum dolor sit amet, id quo eros complectitur. Eu pro quando aeterno, eum cu gubergren vulputate. Nostro dolorem adipisci pro in, vix te timeam virtute liberavisse, mea debet iriure mnesarchum ad. Affert partem nullam in pri. Wisi molestie dissentias ex pro, prompta persecuti honestatis ad sea, et malis referrentur contentiones est. Ea eam affert equidem, qui aeque munere eu.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><strong>People:</strong></p>\n<p>Lorem ipsum dolor sit amet, id quo eros complectitur. Eu pro quando aeterno, eum cu gubergren vulputate. Nostro dolorem adipisci pro in, vix te timeam virtute liberavisse, mea debet iriure mnesarchum ad. Affert partem nullam in pri. Wisi molestie dissentias ex pro, prompta persecuti honestatis ad sea, et malis referrentur contentiones est. Ea eam affert equidem, qui aeque munere eu.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><strong>Skills:</strong></p>\n<p>Lorem ipsum dolor sit amet, id quo eros complectitur. Eu pro quando aeterno, eum cu gubergren vulputate. Nostro dolorem adipisci pro in, vix te timeam virtute liberavisse, mea debet iriure mnesarchum ad. Affert partem nullam in pri. Wisi molestie dissentias ex pro, prompta persecuti honestatis ad sea, et malis referrentur contentiones est. Ea eam affert equidem, qui aeque munere eu.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "label": "Content",
          "hasConfig": false,
          "id": "85b2fa0d-83d9-8948-0395-4d6412da09e7",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></aboutGrid>
    </aboutUs>
  </homePage>
</root>