@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<div class="container">
    <div class="row">
        <h2>Contact Us</h2>
        <div>@Html.Action("Index", "ContactFormSurface")</div>
    </div>
</div>
