@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<div class="container">
    <div class="row">
        <section>
            <h2>@Umbraco.Field("projectsTitle")</h2>
            @Umbraco.Field("projectsBodyText")

            @Umbraco.RenderMacro("listProjects")
        </section>
    </div>
</div> 