@inherits Umbraco.Web.Macros.PartialViewMacroPage
	
@{
	var selection = CurrentPage
		.Site()
		.FirstChild("projectsOverview")
		.Children("projectItem")
		.Where("projectStatus.Contains(\"10\")")
		.OrderBy("CreateDate desc")
		.Take(5);
}
<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>
